body{
    background-color: #030c33;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}


#title{
    flex-direction: column;
    font-weight: bold;
    margin-left: -30px;
   
}

#medica{
    width:350px;
    display: inline-block;
    margin-left: 450px;
    
    
}
#logo > img{
    width: 170px;
    height: 75px;
}
#logo{
    display: flex;
    flex-direction: row; 
}

 
#container-a { 
    font-size: x-large;

}

#container-b { 
    display: inline-block;
    font-size: x-large;
    margin-left: 30px;

    
}

#container-c { 
    display: inline-block;
    font-size: x-large;
    margin-left: 30px;
    
}

#container-d { 
    display: inline-block;
    font-size: x-large;
    margin-left: 30px;
    
}

.botao1 {
    display: inline-block;
    margin: 4.5em;
    border: 10;
    padding: 1em.82em 1em;
    text-decoration: none;
    color: #FFF;
    background: rgb(12, 180, 48);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0.5em;
    box-shadow: 1px 1px 0 4px rgb(11, 12, 12);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: large;
  }

  .botao2 {
    display: inline-block;
    margin: 4.5em;
    border: 10;
    padding: 1em.82em 1em;
    text-decoration: none;
    color: #FFF;
    background: rgb(224, 210, 6);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0.8em;
    box-shadow: 1px 1px 0 4px rgb(11, 12, 12);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: large;
  }
             
.titulo {
    display: inline-block;

}

