*
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

{
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;

}

html,body
{
  background-color: #030c33;
  font-family: var(--open-sans);
  color: #ffffff;
}


.container,
.container-xxl
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}

h1,
h2,
p

{
  line-height: 1em;
  text-align: center;
  color:#ffffff;
}

section h1
{
  font-size: 25px;
  color:#ffffff;
}

section p small
{
  display: block;
  padding: 3px;
  text-align: left;
}

section
{
  padding: 20px;
}

section p
{
  font-size: 20px;
 color: #ffffff;
}

section img
{
  display: block;
  height: 180px;
  margin: 0 auto;
  padding-bottom: 30px;
}

section form
{
  background-color:#030c33;
  border-radius: 4px;
  margin-top: 30px;
  padding: 30px;
}

.group
{
  margin-bottom: 90px;
  align-items: center;
}


.controls input[type="text"],
.controls input[type="email"],
.controls input[type="number"],
.controls input[type="date"],
.controls input[type="tel"],
.controls select,
.controls textarea,
.controls button

{
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--black);
  font-family: var(--open-sans);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 18px;
  outline: none;
  padding: 12px;
  width: 100%;
}

.controls input[type="text"]:hover,
.controls input[type="email"]:hover,
.controls input[type="number"]:hover,
.controls input[type="date"]:hover,
.controls input[type="tel"]:hover,
.controls select:hover,
.controls textarea:hover,
.controls button:hover
{
  border: rgb(255, 255, 255);
}


.controls label+ input,
.controls label+ select
{
  margin-top: 10px;
}

button
{
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  padding: 10px;
  transition: transform 0.10s cubic-bezier(0.39,0.58,0.57,1),opacity 0.5s cubic-bezier(0.39,0.58,0.57,1);
}


.grid:after
{
  clear: both;
  content: "";
  display: table;
}

[class*="col-"]
{
  float: left;
  padding-right: 10px;
}

.grid [class*="col-"]:last-of-type
{
  padding-right: 0;

}

.col-1-2
{
  width: 50%;
}

.col-1-3
{
  width: 33.33%;
}

.col-1-4
{
  width: 25%;
}

.col-1-8 { 
  width: 70%;
  padding-left: 30%;
  font-size: white
}

.col-2-3
{
  width: 66.6%;
}

footer
{
  background-color: 	whitesmoke;
  padding: 20px;
  text-align: center;
}

footer ul
{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

footer ul li
{
  padding-right: 20px;
}

footer ul li a
{
  color: black
  text-decoration: none;
}

footer ul li a:hover
{
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 1200px)
{
  .container,
  .container-xl,
  {
    max-width: 1140px;
  }
}

@media (min-width: 1400px)

{
  .container,
  .container-xxl 
  
  {
    max-width: 1220px;
  }
}

{
  .col-1-2,
  .col-1-4-sm,
  .col-1-3,
  .col-2-3
  {
    width: 100%;
  }

  [class*="col-"]
  {
    padding-right: 0;
  }

  .col-1-8
  {
    width: 100px;
  }
}

.footer ,p {
  color: rgb(0, 0, 0);
  font-weight: bolder
}


:root
{
  --fontawesome: "Font Awesome", sans-serif;
  --fontawesome-brands: "Font Awesome Brands", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}



:root
{
  --black: #0a0501;
  --blue: #000000;
  --brown: #ffffff;
  --light-orange: #EFE9E5;
  --default-orange: #ffffff;
  --white: #0b7ff3;
}
label{
  color: #ffffff;
}
a{
  color: white;
}

a:hover{
  color: #38b6ff;
  transition: 0.3s all;
}

.menu{
  border: 2px solid #38b6ff;
  padding: 10px;
  border-radius: 15px;
  margin-left: 50px;
  width: 160px;
 
  
}

.menu:hover{
  background-color: #38b6ff;
  color: white;
}
.controls2{
  color:  white;
  display: flex;
  justify-content: center;
  
  
}
small{
  color: #ffffff;
}


