body{
    background-color: #030c33;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#title{
    flex-direction: column;
    font-weight: bold;
    margin-left: -30px;
   
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #38b6ff;
    transition: 0.3s all;
}

.menu{
    border: 2px solid #38b6ff;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
    
}

.menu:hover{
    background-color: #38b6ff;
    color: white;
}



main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 60px;

}

span{
    color: #38b6ff;
}

.lista{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 3.9%;
    margin-bottom:35px;
    
    
}

img{
    width: 580px;
}
#logo > img{
    width: 150px;
    height: 75px;
}
#logo{
    display: flex;
    flex-direction: row;

    
}
#title2{
    margin-left: 7.9%;

}

