body {
    background-color: white;
}

#title {
    flex-direction: column;
    font-weight: bold;
    margin-left: -30px;
    color: white;
    margin-top: 15px;

}


#logo>img {
    width: 150px;
    height: 75px;
    padding: 1%;
    margin: 0%;
    margin-left: 28px;
}

#logo {
    display: flex;

}

header {
    display: flex;
    background-color: #030c33;
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 70px;
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 90px;
    padding-top: 30px;
    left: 0;
    background: #030c33;
    transition: 0.5s;
    transition-property: left;
}

#body {
    width: 250px;
    height: 100%;
    margin-top: 70px;
    margin-left: 200px;
    left: 80px;
    right: 200px;
    
    padding-top: 30px;

}

.sidebar .imagem {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h2 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #51b3ec;
}

.sidebar ion-icon {
    padding-right: 30px;
}
/*botão*/
label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 10px;
    color: #fff;
    font-size: 45px;
    margin: 9px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}
/*cor do botão quando clica*/
label #sidebar_btn:hover {
    color: #51b3ec;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}

.left h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}

.left span {
    color: #51b3ec;
}

