<!DOCTYPE html>
<html>
<head>

<meta charset="UTF -8">
<title>Agendamento</title>

</head>

<body>
<h1> Agendamento Paciente </h1>

<form action=" " >

<div>
<label>Nome:</label> <input> type="text" name="nome">
</div>
<div>
<label>Cpf:</label> <input> type="int" name="cpf">
</div>
<div>
<label>Data:</label> <input> type="text" name="data">
</div>
<div>
<label>Horario:</label> <input> type="text" name="horario">
</div>
<div>
       <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
</div>



</form>





</body>
</html>