<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto/src/main/resources/static/css/agendamento.css">
    <title>agendamento</title>
</head>

<body>

    <header>
        <div id="logo">
             <img src="/projeto/src/main/resources/static/assets/img.png" alt="">
             <h1 id="title">ProntMed</h1>
        </div>
     </header>

    <div style="text-align:center">
        <h1> Agendamento Paciente </h1>
    </div>
    
<form action="/agendamentosucesso" method="get">

<div id="container-a">
<label>Nome:</label> <input type="text" name="nome">

<div id="container-b">
<label>Cpf:</label> <input type="int" name="cpf">
</div>

<div id="container-c">
<label>Data:</label> <input type="date" name="data">
</div>

<div id="container-d">
<label>Horario:</label> <input type="text" name="horario">
</div>

<div  style="text-align:center">
       <button class="botao1" type="submit">Salvar</button>
        <button class="botao2" type="reset">Limpar</button>
</div>
</form>

</div>

    <div>
        <article>
        <img id="medica" src="/projeto/src/main/resources/static/assets/dra.png" alt="mulher-mexendo">
        </article>
    </div>
     
</body>
</html>
