<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto/src/main/resources/static/css/agendamentosucesso.css">
    <title>agendamento sucesso</title>
</head>

<body>

    <header>
        <div id="logo">
             <img src="/projeto/src/main/resources/static/assets/img.png" alt="">
             <h1 id="title">ProntMed</h1>
        </div>
     </header>

    <div style="text-align:center">
        <h1> Agendamento Realizado com SUCESSO! </h1>
    </div>


</div>

    <div>
        <article>
        <img id="medica" src="/projeto/src/main/resources/static/assets/dra.png" alt="mulher-mexendo">
        </article>
    </div>
     
</body>
</html>
